<div class="container">
	<div class="page-header"> 
		<div class="text-center">
			<h3>Bet!</h3>
		</div>
	</div>
	
	<div class="row question">
		<p class="lead"><%= latest.title %></p>
		<p>
			<a href="#" class="btn btn-primary col-xs-5" role="button"><%= latest.choiceOne %></a> 
			<div class="col-xs-2 text-center"><h4>VS</h4></div>
			<a href="#" class="btn btn-default col-xs-5" role="button"><%= latest.choiceTwo %></a>
		</p>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-warning" style="width: <%= latest.amountOfChoiceOne / (latest.amountOfChoiceOne + latest.amountOfChoiceTwo)* 100%>%">
	    <span><%= latest.amountOfChoiceOne %></span>
	  </div>
	  <div class="progress-bar progress-bar-danger" style="width: <%= latest.amountOfChoiceTwo / (latest.amountOfChoiceOne + latest.amountOfChoiceTwo)* 100%>%">
	    <span><%= latest.amountOfChoiceTwo %></span>
	  </div>
	</div>
	<div class="row comments-form">
	  <div class="col-xs-12">
	    <div class="input-group">
	      <input id="inputComment" type="text" class="form-control" placeholder="Write your comment.">
	      <span class="input-group-btn">
	        <button id="btnSubmitComment" class="btn btn-default" type="button">send</button>
	      </span>
	    </div>
	  </div>

	</div>
	<div class="row comments">
		<table id="commentsTable" class="table">
	        <tbody>
	        	<thead>
	        		<tr></tr>
	        		<tr></tr>
	        		<tr class="col-xs-1></tr>
	        		<tr class="col-xs-1></tr>
	        	</thead>	
	          <tr>
	            <td class="hidden">asdfsadfsa</td>
	            <td>
	            <div>Mark</div>
	            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis sem sed metus fermentum, vel molestie nunc placerat. Phasellus quam felis, volutpat venenatis sollicitudin sed, commodo quis est. Quisque non urna justo. Donec ut tortor eleifend, fringilla nisi varius, suscipit nibh.</div></td>
	            <td><span class="glyphicon glyphicon-thumbs-up"></span>10</td>
	            <td><span class="glyphicon glyphicon-thumbs-down"></span>5</td>
	          </tr>
	        </tbody>
    	</table>	
	</div>

</div>
<%- partial('../partials/footer') %>
<script type="text/javascript" >
	var issueId = <%= latest.id %>;
</script>
